<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link rel="stylesheet" href="/styles/404.css" />
    <link rel="icon" type="image/x-icon" href="images/frontpage/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <div class="text">
        <h2>404-error</h2>
        <h3>page not found</h3>
        <p>Your search has ventured beyond the known universe.</p>
        <div class="buton">
          <form action="/home">
            <button class="buton">Back to home</button>
          </form>
        </div>
      </div>
      <div class="img">
        <img
          src="/images/404/hmm.png"
          alt="image of a cartoonish astronaut floating into space"
        />
      </div>
    </div>
  </body>
</html>
